header h3{
    background-color: yellow;
    text-align: center;
}
/* div h3, section h3, main h3{
    background-color: red;
    color: white;
} */
.title{
    background-color: red;
    color: white;
}

/* nav ul li a{
    color: yellow;
    background-color: blue;
} */
.list-link{
    color: yellow;
    background-color: blue;
}
a.lg-link{
    font-size: 25px;
}
.sm-link{
    font-size: 10px;
}

.list-link.lg-link{
    text-transform: uppercase;
    /* text-transform: lowercase; */
    /* text-transform: capitalize; */
}

#top{
    background-color: green;
    padding: 50px;
}


.title{
    background-color: blueviolet;
    text-align: center;
    color: yellow;
}

.title{
    background-color: rgb(6, 6, 6);
    text-align: center;
    color: yellow;
}

h3{
    background-color: orange;
    color: white;
    text-align: right;
}

input[type=text]{
    background-color: red;
}
div:empty{
    padding: 100px;
    background-color: orange;
    border: 2px solid black;
}
.li-item{
    background-color: yellow;
}
/* .li-item.last{
    background-color: blue;
}
.li-item.first{
    background-color: green;
}
.li-item.third{
    background-color: palevioletred;
} */

.li-item:first-child{
    background-color: green;
}
.li-item:nth-child(3){
    background-color: palevioletred;
}
.li-item:nth-child(4){
    background-color: rgb(14, 180, 45);
}
.li-item:last-child{
    background-color: blue;
}
.mait-title{
    color: rgb(0, 0, 0);
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}