*{
    box-sizing: border-box;
}

body{
    background-color: rgb(222, 61, 88);
    margin: 0;
    font-family: Inter;
}
main{
    width: 360px;
    margin: 40px auto;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    padding: 55px 20px 90px 24px;
}
