/* *{
    color: rgb(40, 6, 211);
} */
body{
    background-color: gray;
}
/* h3{
    background-color: black;
    color: white;
    text-align: center;
} */

/* p{
    color: white;
    text-align: center;
}
h3{
    color: white;
    text-align: center;

} */

p,h3,h4,h5{
    color: white;
    text-align: center;
}

/* DRY don't repeat yourself */
p span{
    color: orange;
}
li span{
    color: blue;
}

div h3{
    color: rgb(105, 54, 153);
}
section h3{
    color: rgb(20, 205, 20);
}