*{
    box-sizing: border-box;
}
:root{
    --main-color:white;
    --secondary-color:yellow;
    --base-font-size:20px;
    --main-font-family:'Arial';
    --body-background:black;
}
html,
body{
    background-color: var(--body-background);
    font-size: var(--base-font-size);
    color: var(--main-color);
}
h1{
    color: var(--secondary-color);
    font-size: 2rem;
}
h2{
    --secondary-color:blue;
    color: var(--secondary-color);
    font-size: 1.5rem;
}
@media(max-width:1200px){
    :root{
        --main-color:rgb(150, 228, 16);
        --secondary-color:rgb(227, 35, 10);
        --base-font-size:15px;
        --body-background:rgb(62, 61, 61);
    }
    h2{
        --secondary-color:rgb(235, 88, 215);
    }
}

